<link rel="stylesheet" type="text/css" href="../style/styles.css">
<body>
<h1>Teleporter</h1>
<form action="/login" method="post">
  <h2>Login</h2>
    <div class='inputdiv'>
      <input placeholder='Username' class='input' id="username" type="text" name="username">
    </div>
    <div class='inputdiv'>
      <input placeholder='Password' class='input' id="password" type="password" name="password">
    </div>
    <div>
      <input class='bttn' type="submit" value="Login">
    </div>
</form>
<p>
  <a href="/signup">Create an Account</a>
</p>
</body>
