<link rel="stylesheet" type="text/css" href="../style/styles.css">
<body>
<h1>Teleporter</h1>
<form action="/signup" method="post">
  <h2>Sign up</h2>
    <div class='inputdiv'>
      <input placeholder='Username' id="username" type="text" name="username" require>
    </div>
    <div class='inputdiv'>
      <input placeholder='Password' id="password" type="password" name="password" require>
    </div>
    <div>
      <input class='bttn' type="submit" value="Sign up">
    </div>
</form>
<p>
  <a href="/login">Login to your account</a>
</p>
</body>